[Unit]
Description=Network Inspector(nispor) varlink service
PartOf=nispor.service

[Socket]
ListenStream=/run/nispor.so
SocketMode=0666

[Install]
WantedBy=sockets.target
