name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - base

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          - rust_version: "stable"
          - rust_version: "nightly"
          - rust_version: "beta"

    name: CI
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2


    - name: Install Rust ${{ matrix.rust_version }}
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ matrix.rust_version }}
          override: true
          components: rustfmt

    - name: Update repositories
      if: matrix.rust_version == 'stable'
      run: sudo apt-get -y update

    - name: Install valgrind
      if: matrix.rust_version == 'stable'
      run: sudo apt-get -y install valgrind

    - name: Install netdevsim kernel module
      run: sudo apt-get -y install linux-modules-extra-azure

    - name: Check fmt
      if: matrix.rust_version == 'stable'
      run: cargo fmt -- --check

    - name: Instruct cargo to use sudo as runner
      run: |
        echo "[target.x86_64-unknown-linux-gnu]" >> .cargo/config.toml
        echo "runner = 'sudo -E'" >> .cargo/config.toml

    - name: Build
      run: cargo build --verbose --all

    - name: Run cargo tests
      run: cargo test -- --test-threads=1 --show-output

    - name: Run clib test
      if: matrix.rust_version == 'stable'
      run: sudo make check -C test/clib
